<div class="layout base">
  <div class="container-fluid">
    <div class="row-fluid"><div class="span12"></div></div>

    <!-- Header content. -->
    <div class="row-fluid">
      <!-- Left gap. -->
      <div class="span1"></div>

      <!-- Right gap. -->
      <div class="span1"></div>
    </div>

    <!-- Main content. -->
    <div class="row-fluid">
      <!-- Left gap. -->
      <div class="span1"></div>

      <!-- Left hand - central content. -->
      <div class="span7">
        <!-- Show main content here. -->
        <div class="col-lg-6 left"></div>
        <div class="col-lg-6 right"></div>
      </div>
      <!-- Right gap. -->
      <div class="span1"></div>
    </div>
  </div>
</div>
