<div class="container">
  <div id="topic">
    <div class="subtitle text-center"><%- topic.topic.name %> by <%- topic.topic.author %></span>
    </br>
    <button class="btn btn-default btn-s edit"><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn btn-default btn-s delete"><span class="glyphicon glyphicon-remove"></span></button>
    <button class="btn btn-default btn-s addPost"><span class="glyphicon glyphicon-plus-sign"></span></button>
  </div>
  <% if(topic.posts.length === 0){%>
  <div class="subtitle">There are no posts for this topic</div>
  <% } else{ %>
  <div class="subtitle">Posts for this topic:</div>
  <div class="list-group container">
    <% _.each(topic.posts, function( item ){ %>
      <a href="http://localhost:3000/posts/<%- item._id%>" class="list-group-item post">
        <span class="post-name"><%- item.name %></span>
        </br>by <span class="post-author"><%- item.author %></span></br>
        <div class="container post-text">"<%- item.text %>"</div>
      </a>
    <% }); %>
  </div>
  <%}%>
</div>
