<div class="container">
  <div class="subtitle text-center" id="topic">
    <%- topic.topic.name %>
   by <span class="topic-author"><%- topic.topic.author %></span></br>
    <button class="edit"><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="delete"><span class="glyphicon glyphicon-remove"></span></button>
    <button class="addPost"><span class="glyphicon glyphicon-plus-sign"></span></button>
  </div>
  <div class="subtitle">Posts for this topic:</div>
  <div class="list-group container">
    <% _.each(topic.posts, function( item ){ %>
      <a href="http://localhost:3000/posts/<%- item._id%>" class="list-group-item post">
        <span class="post-name"><%- item.name %></span>
        </br>by <span class="post-author"><%- item.author %></span></br>
        <div class="container post-text">"<%- item.text %>"</div>
      </a>
    <% }); %>
  </div>
</div>
