extends layout

block content
  .container
    h1 List of Posts
    h2 This is our full list of posts being posted right now.
    h3 List of posts
    ul
      each post in posts
        li 
          a(href="/post/#{post._id}") post.name
