doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/custom.css')
    script(data-main='/js/config.js', src='/js/lib/require/require-2.1.9-min.js')
    link(href='http://fonts.googleapis.com/css?family=Simonetta', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Belleza', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Tangerine', rel='stylesheet', type='text/css')
  body
  .container
    .text-right.subtitle
      a(href='http://localhost:3000/topics/create')
        button.btn.btn-default.btn-s
          span.glyphicon.glyphicon-plus
          |  Add a new topic
    .text-center
      .site-name
        a(href='http://localhost:3000/') PosTopic
    #main
    
