doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-theme.min.css')
    script(data-main='/js/config.js', src='/js/lib/require/require-2.1.9-min.js')
  body
  .container
    h1 Loaded from Node
    #main
