<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/custom.css">
        <link href='http://fonts.googleapis.com/css?family=Simonetta' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
        

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

    </head>

    <body>
          <div class="container">
            <div class="text-right subtitle">
              <a href="http://localhost:9000/topic/create">
                <button class="btn btn-default btn-s">
                  <span class="glyphicon glyphicon-plus"></span>
                  Add a new topic
                </button>
              </a>
            </div>
            <div class="text-center">
              <div class="site-name">
                <a href="http://localhost:9000/">
                  PosTopic
                </a>
              </div>
            </div>
            <div id="main-region"></div>
          </div>
        
        <script type="text/template" id="post-composite">
          List of Posts:
          <ul></ul
        </script>
        
        <script type="text/template" id="post-item">
          <div class="container">
            <div class="subtitle text-center">
              Post
            </div>
            <div id="post">
              <div class="list-group-item col-sm-8 col-sm-offset-2 post">
                <div class="row">
                  <div class="col-lg-11">
                    <span class="post-name"><%- post.name %></span></br>
                     by <span class="post-author"><%- post.author %></span></br></br>
                    <div class="post-text">"<%- post.text %>"</div>
                  </div>
                  <div class="col-lg-1 text-right">
                      <button class="btn btn-default btn-xs edit"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-default btn-xs delete"><span class="glyphicon glyphicon-remove"></span></button>
                  </div>
                  </div>
              </div>
              </br></br>
              <div class="row">
                <div class="col-lg-2 col-lg-offset-10">
                  <div class="subtitle">In the topic:</div>
                  <a href="http://localhost:3000/topics/<%- topic._id%>" class="list-group-item topic">
                    <span class="topic-name"><%- topic.name %></span>
                    </br>by <span class="topic-author"><%- topic.author %></span></br>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </script>
        
        <script type="text/template" id="topic-composite">
          List of Topics:
          <ul></ul
        </script>
        
        <script type="text/template" id="topic-item">
          <div class="container">
            <div id="topic">
              <div class="subtitle text-center"><%- topic.name %> by <%- topic.author %></span>
              </br>
              <button class="btn btn-default btn-s edit"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-default btn-s delete"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default btn-s addPost"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
            <% if(posts.length === 0){%>
            <div class="subtitle">There are no posts for this topic</div>
              <% } else{ %>
              <div class="subtitle">Posts for this topic:</div>
            <div class="list-group container">
              <% _.each(posts, function( item ){ %>
                <a href="http://localhost:3000/posts/<%- item._id%>" class="list-group-item post">
                  <span class="post-name"><%- item.name %></span>
                  </br>by <span class="post-author"><%- item.author %></span></br>
                  <div class="container post-text">"<%- item.text %>"</div>
                </a>
              <% }); %>
            </div>
            <%}%>
          </div>
        </script>
        
        <!-- build:js scripts/main.js -->
        <script data-main="scripts/init" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->

        <script>document.write('<script src="http://'
            + (location.host || 'localhost').split(':')[0]
            + ':35729/livereload.js?snipver=1"><\/script>');
        </script>
    </body>
</html>
