body {
  background-image: url('../images/pixel_weave.png');
  background-repeat: repeat;
}

.site-name {
  font-family: 'Tangerine', cursive;
  font-size: 6em;
}

.page-title {
  font-family: 'Belleza', cursive;
  font-size: 2em;
  
}

.post, .topic, .subtitle{
  font-family: 'Simonetta', cursive;
}

.post-name, .topic-name {
  font-size: 1.5em;
}

.post-author, .topic-author {
  font-size: 1em;
}

.post-text {
  font-size: 1.2em;
}

.post-date {

}

.topic {

}

.topic-name {

}

.topic-author {

}

.topic-dateCreated {

}

.topic-dateUpdated {

}

.topic-name-in-post {
  font-family: 'Belleza';
  font-size: 1.2em;
}
.subtitle {
  font-size: 1.7em;
}
